<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="alonedroid.com.nanitabe.activity"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <application
        android:name="alonedroid.com.nanitabe.NtApplication_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Nabitabe">
        <activity android:name="alonedroid.com.nanitabe.activity.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="alonedroid.com.nanitabe.service.urasearch.UraSearchService_"
            android:enabled="true"/>

        <activity
            android:name="alonedroid.com.nanitabe.activity.ShareActivity_"
            android:label="@string/title_activity_share"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="nanitabe.org"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name="alonedroid.com.nanitabe.activity.VariableActivity_"/>
        <activity android:name="alonedroid.com.nanitabe.activity.ReceptionActivity_"/>
    </application>

</manifest>
